/node_modules
/public/hot
/public/storage
/public/alter-ego
/public/artigos
/public/contato
/public/sobre
/public/index.html
/public/weekly
/public/quizzes
/public/crowdfunding
/public/casts
/storage/*.key
/vendor
/publish
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.phpactor.json
tags
.DS_Store
